# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/17.08.2018/Task_4_24/nbproject/private/
/17.08.2018/Task_4_24/build/
/17.08.2018/Task_4_29/nbproject/private/
/17.08.2018/Task_4_29/build/
/20.08.2018/Task_4_17/nbproject/private/
/20.08.2018/Task_4_17/build/
/20.08.2018/Task_4_13/nbproject/private/
/20.08.2018/Task_4_13/build/
/22.08.2018/Task_3/nbproject/private/
/22.08.2018/Task_3/build/
/22.08.2018/Task_5/nbproject/private/
/22.08.2018/Task_5/build/
/22.08.2018/Task_6/nbproject/private/
/22.08.2018/Task_8/nbproject/private/
/22.08.2018/Task_8/build/
/22.08.2018/Task_6/build/
/22.08.2018/Task_6/dist/
/24.08.2018(Vacation)/basics/Basic_Task_1/nbproject/private/
/24.08.2018(Vacation)/basics/Basic_Task_1/build/
/24.08.2018(Vacation)/basics/Basics_Task_2/nbproject/private/
/24.08.2018(Vacation)/basics/Basics_Task_2/build/
/24.08.2018(Vacation)/basics/Basics_Task_3/nbproject/private/
/24.08.2018(Vacation)/basics/Basics_Task_3/build/
/24.08.2018(Vacation)/basics/Basics_Task_4/nbproject/private/
/24.08.2018(Vacation)/basics/Basics_Task_4/build/
/24.08.2018(Vacation)/data types/DataTypes_Task_1/nbproject/private/
/24.08.2018(Vacation)/data types/DataTypes_Task_1/build/
/24.08.2018(Vacation)/data types/Data_Types_TasK_2/nbproject/private/
/24.08.2018(Vacation)/data types/Data_Types_TasK_2/build/
/24.08.2018(Vacation)/data types/Data_Types_Task_3/nbproject/private/
/24.08.2018(Vacation)/data types/Data_Types_Task_3/build/
/24.08.2018(Vacation)/data types/Data_Types_Task_4/nbproject/private/
/24.08.2018(Vacation)/data types/Data_Types_Task_4/build/
/24.08.2018(Vacation)/data types/Data_Types_Task_5/nbproject/private/
/24.08.2018(Vacation)/data types/Data_Types_Task_5/build/
/24.08.2018(Vacation)/data types/Data_Types_Task_6/nbproject/private/
/24.08.2018(Vacation)/data types/Data_Types_Task_6/build/
/24.08.2018(Vacation)/data types/Flow_Control_Task_1/nbproject/private/
/24.08.2018(Vacation)/flow control/Flow_Control_Task_1/nbproject/private/
/24.08.2018(Vacation)/flow control/Flow_Control_Task_1/build/